@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SecretSantaApp</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
    @Html.Partial("_Favicons")
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SecretSantaApp</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @*<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                <li>
                    <a asp-area="" asp-controller="Groups" asp-action="Index">Groups</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-area="" asp-controller="Groups" asp-action="MyGroups">My Groups</a>
                    </li>
                }
                <li>
                    <a asp-area="" asp-controller="QuickPick" asp-action="Index">Quick Pick</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-controller="Account" asp-action="Profile">Hello @User.Identity.Name!</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-controller="Account" asp-action="LoginExternal">Login</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">

    <div class="modal" id="alertModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-xl">
                <div class="modal-header" style="display: none; text-align: center;">
                </div>
                <div id="modalloading" style="display: none; margin: 0 auto !important; text-align: center;">
                    <h4>Loading...</h4>
                    <div class="santaloadspinner" style="margin: auto !important"></div>
                </div>

                <div class="modal-scroll" id="alertModalBody"></div>
                <div class="modal-footer" style="display: none;"></div>
            </div>
        </div>
    </div>

    @*<div class="modal" id="alertModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content modal-xl">
                    <div class="modal-header" style="text-align: center">
                        <h1>Something something Dark Side</h1>
                    </div>
                    <div id="modalloading" style="display:none; margin: 0 auto !important; text-align:center;">
                        <h4>Loading...</h4>
                        <div class="santaloadspinner" style="margin:auto!important"></div>
                    </div>

                    <div class="modal-scroll" id="alertModalBody"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>*@
    <!-- Modal -->
    @*http://ericsaupe.com/tag/bootstrap-3-modal-ajax/*@

    @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">*@
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>IF YOU SEE THIS - CHANGE TO NEW MODAL</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="santaloadspinner"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @*add the model code here so we can call it anywhere*@
    @*<div id="modal-container" class="modal" tabindex="-1" role="dialog" style="border: 5px solid black;">
                <a href="#" title="Close" class="close">X</a>
                <div class="modal-content" style="max-width: 800px !important; margin: 10px auto !important;">
                    <div class="modal-body">
                    </div>
                </div>
            </div>*@



    @*<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>*@

    @*<div class="modal fade bs-modal-dialog" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">

                        <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                        <h4 id="mySmallModalLabel" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div></div>*@



    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2017 - SecretSantaApp</p>
    </footer>
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modal.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modal.js"></script>
</environment>


@Html.Partial("_LayoutCommonLoadPartial")
@RenderSection("Scripts", false)
</body>
</html>