@model SecretSantaApp.Views.Groups.GroupAdminModel

<h3>Partial Life</h3>


<h4>All Active Groups:</h4>
<div class="row">
  <table class="table table-responsive table-striped">
    <thead>
    <tr>
      <th>Group ID</th>
      <th>Group Name</th>
      <th>Active</th>
      <th>PassWord</th>
      <th>InsertedBy</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var g in Model.ActiveGroups)
    {
      <tr>
        <td>@g.GroupId</td>
        <td>@g.GroupName</td>
        <td>@g.Active</td>
        <td>@g.GroupPassWord</td>
        <td>@g.InsertedBy</td>
        <td>
          <form >
            <input asp-controller="Groups" asp-action="JoinGroup" asp-route-id="@g.GroupId" method="GET" type="submit" class="btn btn-group" value="Join Group" />
          </form>
        </td>
        <td>
          <form >
            <input asp-controller="Groups" asp-action="GroupHome" asp-route-id="@g.GroupId" method="GET" type="submit" class="btn btn-info" value="Group Home" />
          </form>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>