@using SecretSantaApp.BL
@model GroupHomeEditModel
@inject ISecretSantaBl ssbl
@{

    var guid = Guid.NewGuid();
    var containerid = $"divcontainerid-{guid}";
}

<div id="@containerid">
    @if (Model.GroupMembers.Count > 0)
    {

        <h5>Group Members:</h5>


        <div class="row">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var u in Model.GroupMembershipModelList)
                    {
                        var user = ssbl.UserFullNameByAccountNumberString(u.AccountNumberString);
                        var image = ssbl.UserImageByAccountNumberString(u.AccountNumberString);
                        var userconditionsurl = Url.Action("NewMemberConditionPopup", "Groups", new { membershipid = u.ID, acctno = u.AccountNumberString });
                        var userdetailsurl = Url.Action("ViewOtherUserDetailsPartial", "Account", new { acctno = u.AccountNumberString });
                        <tr>
                            <td>
                                <img src="@image"
                                     alt="" class="img-rounded img-circle" style="max-width: 65px;" />
                            </td>
                            <td>@user</td>
                            <td>&nbsp;</td>
                            @*<td>@u.Email</td>*@
                            <td>
                                <button class="btn btn-group modal-link BtnGreen"
                                        href="@userconditionsurl"
                                        data-target="#modal-container"
                                        data-toggle="modal">
                                    New Condition
                                </button>
           
                                <a href="@userdetailsurl"
                                   class="btn BtnRed"
                                   data-target="#myModal"
                                   data-toggle="modal">
                                    Info
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No Body Is in this group</p>
    }
</div>
@section scripts{
    <script>


        $(document).ready(function() {
            $("#@containerid").trigger("create");
        }); //doc ready



        $(function() {
            $(".infobtn").click(function() {
                console.log("clicked: ");
                $("#modal").load("About",
                    function() {

                        $("#modal").modal();
                    });
            });
        });
    </script>
}
