@model JoinGroupEditModel
@{
  var uid = Guid.NewGuid();
  var containerid = $"divcontainerid-{uid}";
  var ajaxurl = Url.Action("CheckPasswordInput", "Groups");
}

<div id="@containerid">
  

@if (Model.Verified)
{
  //var url = Url.Action("", "", new {groupid = Model.GroupId});

  <h3>You are in the group : @Model.Group.GroupName - @Model.Group.GroupId : (not really) - </h3>
  <br />
  <br />
  
  <script>
    $(function() {
      console.log("you in!");
    });
  </script>
}
else
{
  <div class="modal-title" style="color: black">
    <h3>Join Group: @Model.Group.GroupName</h3>
  </div>
  <div class="panel-body">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div id="resultcontainer">
      <form asp-action="CheckPasswordInput" method="post"
            data-ajax="true" 
            data-ajax-method="POST" 
            data-ajax-mode="replace" 
            data-ajax-update="#@containerid"
      >
        <div class="form-group">
          <label asp-for="UserInputGroupPassword" class="col-md-12 control-label"></label>
          <input asp-for="UserInputGroupPassword" class="form-control" required="" placeholder="Group Password" oninvalid="this.setCustomValidity('Please Enter the Password')"/>
          <span asp-validation-for="UserInputGroupPassword" class="text-danger"></span>
        </div>
        <div class="modal-footer">
          <button type="submit" id="btnSave" class="btn btn">Save</button>
          <button type="button" class="btn " data-dismiss="modal">Cancel</button>
        </div>
        @Html.HiddenFor(x => x.GroupId)
        @Html.HiddenFor(x => x.CustomUser)
      </form>
    </div>
  </div>
  
  
  @*<div class="">
    <div class="modal-title" style="color: black">
      <h3>Join Group: @Model.Group.GroupName</h3>
    </div>
    <br />
    <form asp-controller="Groups"
          asp-action="CheckPasswordInput"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#content">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label asp-for="UserInputGroupPassword" class="col-md-12 control-label"></label>
            <input asp-for="UserInputGroupPassword" class="form-control" required="" placeholder="Group Password" oninvalid="this.setCustomValidity('Please Enter the Password')"/>
            <span asp-validation-for="UserInputGroupPassword" class="text-danger"></span>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <button type="submit" id="btnSave" class="btn btn">Save</button>
          <button type="button" class="btn " data-dismiss="modal">Cancel</button>
          <button type="button" class="btn " id="testajax">AJAX</button>
        </div>
      </div>
    </form>
    <div id="content">repalce me</div>
  </div>*@


  <script>
    
    
    
    $(function() {
      $('#btnSave').click(function() {
        console.log("save");
        // $('#modal-container').modal('hide');
        //https://codemagik.wordpress.com/2015/04/07/render-mvc-partial-view-inside-bootstrap-modal-dialog/
      });
    }); //end function
  </script>
}
</div>