@using SecretSantaApp.BL
@model MemberConditionsEditModel
@inject ISecretSantaBl ssbl
@{
  var uid = Guid.NewGuid();
  var containerid = $"divcontainerid-{uid}";

}

<div id="@containerid">
  @if (Model.Saved)
  {

    <p>you created the rule, we need to refresh the </p>

    <script>
     // LoadRules();
      //$('#modal-container').modal('hide');
    </script>
  }
  else
  {

    <div class="container col-lg-12 ControlBox" style="background-color: white">
      <div class="">
        <div class="" style="display:inline!important">


          <h4 class="text-center" style="color: green; display: inline !important">
            &nbsp;
          </h4>

        </div>
        <div class="row col-xs-12 center-block RoundCornerBox" style="background-color: white; ">

          <form asp-action="SaveMemberCondition" method="POST"
                data-ajax="true"
                data-ajax-method="POST"
                data-ajax-mode="replace"
                data-ajax-update="#@containerid">

            <div class="form-group">

              <div class="col-sm-8 col-xs-12">
                <div>
                  <h4>  @Model.UserFullName Cant Have: </h4>
                  @foreach (var a in Model.OtherGroupMembers)
                  {
                    var otherpeopledropdown = ssbl.OtherUsersDropDown(a.AccountNumberString, a.GroupId);
                    @Html.DropDownListFor(x => x.ConditionId, otherpeopledropdown, "--Selet an Available Values Category--", new {  })
                    @*<p>Other Member: @a.AccountNumberString</p>*@
                  }
                </div>
                </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <input type="submit" name="signin" id="signin" value="Submit" class="btn btn-default btn-lg BtnGreen" />
              </div>
            </div>
            @Html.HiddenFor(x => x.ConditionId)
              @Html.HiddenFor(x => x.GroupId)
            @*@Html.HiddenFor(x => x.InsertedBy)*@
          </form>
        </div>
      </div>

    </div>
  <!-- /.container -->
  }


</div>